.Adcard {
  padding: 15px;
  border: 1px solid rgba(var(--gray-200), 1);
  border-radius: 8px;
  background-color: rgba(var(--gray-200), 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
