// @import url("./assets/fonts/fonts.css");
// reset css
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}
// custom font
// @font-face {
//   font-family: "TodoesRegular";
//   src: url("./assets/fonts/TodesRegular.ttf") format("ttf");
//   font-weight: normal;
//   font-style: normal;
//   //font-display: swap;
// }
// @font-face {
//   font-family: "TodoesMedium";
//   src: url("./assets/fonts/TodesMedium.ttf") format("ttf"),
//     url("./assets/fonts/TodesMedium.otf") format("otf");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }
body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  color: black;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  height: 100%;
}
:root {
  // Below color is golden color palates
  --golden-50: 253, 249, 237;
  --golden-100: 248, 235, 205;
  --golden-200: 240, 214, 151;
  --golden-300: 233, 189, 96;
  --golden-400: 227, 166, 60;
  --golden-500: 219, 135, 36;
  --golden-600: 194, 103, 29;
  --golden-700: 161, 74, 28;
  --golden-800: 131, 59, 29;
  --golden-900: 108, 49, 27;
  --golden-950: 62, 23, 10;
  --golden-1000: 219, 135, 36;
  // Below color is blue color palates
  --blue-50: 246, 247, 249;
  --blue-100: 235, 237, 243;
  --blue-200: 211, 215, 228;
  --blue-300: 172, 181, 205;
  --blue-400: 127, 143, 177;
  --blue-500: 95, 112, 152;
  --blue-600: 75, 89, 126;
  --blue-700: 61, 72, 103;
  --blue-800: 54, 63, 86;
  --blue-900: 48, 54, 74;
  --blue-950: 36, 40, 55;
  //Black color shades

  --black-900: 59, 65, 73;
  --black-950: 0, 0, 0;
  //Gray color shades

  --gray-50: 153, 153, 153;
  --gray-100: 241, 241, 241;
  --gray-150: 244, 244, 244;
  --gray-200: 231, 231, 231;
  --gray-300: 93, 93, 93;
  --gray-400: 61, 67, 75;
  --gray-500: 208, 208, 208;
  --gray-600: 162, 162, 162;
  //White color
  --white: 255, 255, 255;
  --black-acent: 0, 0, 0;
}
#root {
  // @media only screen and (max-width: 1024px) {
  //   height: 100%;
  // }
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(219, 135, 36, 1);
  //border: 2px solid #555555;
}
$breakpoints: (
  "default": "default",
  "xxl": 2560px,
  "xl": 1440px,
  "lg": 1366px,
  "md": 1024px,
  "sm": 926px,
  "xs": 767px,
  "xxs": 480px,
);
.grid {
  display: grid;
}
@each $name, $breakpoint in $breakpoints {
  @if ($breakpoint != "default") {
    @media only screen and (max-width: $breakpoint) {
      //Columns
      @for $i from 1 through 12 {
        .#{$name}\:grid-col-#{$i} {
          grid-template-columns: repeat($i, minmax(0, 1fr));
        }
      }
      //row
      @for $i from 1 through 12 {
        .#{$name}\:grid-row-#{$i} {
          grid-template-rows: repeat($i, minmax(0, 1fr));
        }
      }
      //gaps
      @for $i from 1 through 12 {
        .#{$name}\:gap-#{$i} {
          gap: #{$i}rem;
        }
        .#{$name}\:gap-x-#{$i} {
          gap: #{$i}rem;
        }
        .#{$name}\:gap-y-#{$i} {
          gap: #{$i}rem;
        }
      }
      //span
      @for $i from 1 through 12 {
        .#{$name}\:col-span-#{$i} {
          grid-column: span $i/span $i;
        }
      }
      //col-start
      @for $i from 1 through 12 {
        .#{$name}\:col-start-#{$i} {
          grid-column-start: $i;
        }
      }
      //col-end
      @for $i from 1 through 12 {
        .#{$name}\:col-end-#{$i} {
          grid-column-end: $i;
        }
      }
      // Row-start
      @for $i from 1 through 12 {
        .#{$name}\:row-start-#{$i} {
          grid-row-start: $i;
        }
      }
      // Row-end
      @for $i from 1 through 12 {
        .#{$name}\:row-end-#{$i} {
          grid-row-end: $i;
        }
      }
    }
  } @else {
    // Columns
    @for $i from 1 through 12 {
      .grid-col-#{$i} {
        grid-template-columns: repeat($i, minmax(0, 1fr));
      }
    }

    // Rows
    @for $i from 1 through 12 {
      .grid-row-#{$i} {
        grid-template-rows: repeat($i, minmax(0, 1fr));
      }
    }
    @for $i from 1 through 12 {
      .gap-#{i} {
        gap: #{$i}rem;
      }
      .gap-x-#{i} {
        column-gap: #{$i}rem;
      }
      .gap-y-#{i} {
        row-gap: #{$i}rem;
      }
    }
    @for $i from 1 through 12 {
      .gap-#{$i} {
        gap: #{$i}rem;
      }
      .#{$name}\:gap-x-#{$i} {
        gap: #{$i}rem;
      }
      .#{$name}\:gap-y-#{$i} {
        gap: #{$i}rem;
      }
    }
  }
}
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-start {
  justify-content: start;
}
.justify-content-end {
  justify-content: flex-end;
}
.flex-column {
  flex-direction: column;
}
.text-truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-center {
  text-align: center;
}
